.section {
  padding-top: 81px;
  padding-bottom: 81px;
  background-color: #fdfdfd;
}
.header {
  max-width: 570.216px;
  margin: auto;
  margin-bottom: 55px;
}

.title {
  color: #19381f;
  text-align: center;
  font-family: ABeeZee;
  font-size: 59.32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.description {
  color: #19381f;
  text-align: center;
  font-family: Poppins;
  font-size: 14.83px;
  font-style: normal;
  font-weight: 400;
  line-height: 185.5%; /* 27.51px */
}

.items-container {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.item {
  color: #19381f;
  width: 211px;
  min-height: 350px;
  border-radius: 1000px;
  padding: 6px;
  border: 0.742px solid #19381f;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding-top: 50px;

  &__title {
    color: #19381f;
    text-align: center;
    font-family: Poppins;
    font-size: 17.796px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__description {
    color: #19381f;
    text-align: center;
    font-family: Poppins;
    font-size: 13.347px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
