.container {
  padding-top: 330px;
  padding-bottom: 80px;
  background-color: #1a381f;
}

.title {
  font-family: "ABeeZee";
  font-style: normal;
  font-weight: 400;
  font-size: 54.8713px;
  line-height: 65px;
  color: #ffffff;

  text-align: center;
  margin-bottom: 100px;
}
.item {
  // border: 2px solid transparent;
  // background: linear-gradient(to bottom, #e1ed07 0%, #81856d 100%) 1;
  margin: 4px;

  &__container {
    display: flex;
    margin-bottom: 50px;
  }

  &__content {
    // width: 260px;
    // height: 430px;
    width: 205px;
    height: 290px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 200px;

    padding: 72px 27px;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 200px;
      // border: 2px solid #e1ed07;
      padding: 2px;
      background: linear-gradient(180deg, #e1ed07, #81856d);
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      margin: -8px;
    }
  }

  &__title {
    text-align: center;

    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 48.7494px;
    line-height: 58px;
    /* identical to box height */

    color: #ffffff;
  }

  &__description {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13.4061px;
    line-height: 185.5%;
    /* or 25px */

    color: #ffffff;

    &::first-letter {
      font-size: 50px;
    }
  }
}

.history {
  position: relative;

  &__floating {
    position: absolute;
    top: 6%;
    right: 7%;
    rotate: 160deg;
    width: 350px;
    display: flex;
  }

  &__btn-container {
    display: flex;
    justify-content: end;
    padding-right: 10%;
    gap: 13px;

    button {
      padding: 10px 37px;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 50px;
      color: white;
    }
  }
}
