---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { QwikIO } from '../components/QwikIO';

// import 'animate.css';

import "../styles/global.scss";
import "../styles/styles.scss";
import Music from '../components/Music.astro';
import Phone from '../components/Phone.astro';
---

<Layout title="Nuestra boda - Asbel & Loida">
	<main>
		<Phone />
		<Music />

		<QwikIO />
		
	</main>
</Layout>

<!-- <script>
	import "/src/scripts/main.js";
</script> -->

<style>
	
</style>