@import "src/styles/shared";

.header {
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    text-transform: capitalize;

    @include mq(display, none, $md);

    a {
      color: black;
      display: inline-block;
      padding: 0;
      text-decoration: none;

      &:hover {
        color: var(--qwik-light-blue);
      }
    }
  }
}

.content {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  @include r(gap, 8, 30);
  margin: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  a {
    display: block;
  }
}
