.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}
.logo a {
  display: block;
}


.header li {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;

  text-transform: capitalize;
}

.header li a {
  color: black;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}

.header li a:hover {
  color: var(--qwik-light-blue);
}

.content {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;

  margin: auto;
}

.item {

}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}
